In [107]:
import os
import time

import numpy as np
import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt

In [108]:
def check_code_info(data):
     
    print('Data shape:',  data.shape, '\n',
          'Country: \n',
          '  Number of non-nan records:', data['country_code'].dropna().shape, '\n',
          '  Number of unique records:',  data['country_code'].dropna().drop_duplicates().shape, '\n',
          'IATA number: \n',
          '  Number of non-nan records:', data['iata'].dropna().shape, '\n',
          '  Number of unique records:',  data['iata'].dropna().drop_duplicates().shape, '\n',
          'ICAO number: \n',
          '  Number of non-nan records:', data['icao'].dropna().shape, '\n',
          '  Number of unique records:',  data['icao'].dropna().drop_duplicates().shape, '\n'
         )

def conver_to_geo_point(data):
    gdf = gpd.GeoDataFrame(data, 
                           geometry = gpd.points_from_xy(data['lon'], data['lat']),
                           crs = 'EPSG:4326'
                          )
    return gdf

# 1. Read data

In [109]:
# Dataset 1
path = 'https://raw.githubusercontent.com/ip2location/ip2location-iata-icao/master/iata-icao.csv'
airport_1 = pd.read_csv(path) \
              .rename(columns={'latitude':'lat', 'longitude':'lon'}) \
              .replace('', pd.NA) \

# Dataset 2
path = 'https://raw.githubusercontent.com/mwgg/Airports/master/airports.json'
airport_2 = pd.read_json(path, orient='index') \
              .rename(columns={'country':'country_code'})
# NA data
airport_2['iata'] = airport_2['iata'].replace('0', np.nan)
airport_2 = airport_2.replace(['', 'NA', pd.NA], np.nan)

In [110]:
airport_cn_1 = airport_1.query('country_code == \'CN\'')

check_code_info(airport_cn_1)


airport_cn_2 = airport_2.dropna(subset='iata') \
                        .query('country_code == \'CN\'')

check_code_info(airport_cn_2)

Data shape: (264, 7)
 Country:
   Number of non-nan records: (264,)
   Number of unique records: (1,)
 IATA number:
   Number of non-nan records: (264,)
   Number of unique records: (264,)
 ICAO number:
   Number of non-nan records: (244,)
   Number of unique records: (244,)

Data shape: (183, 10)
 Country:
   Number of non-nan records: (183,)
   Number of unique records: (1,)
 IATA number:
   Number of non-nan records: (183,)
   Number of unique records: (183,)
 ICAO number:
   Number of non-nan records: (183,)
   Number of unique records: (183,)

In [111]:
# difference 
diff_iata_1 = list(set(airport_cn_1['iata']).difference(set(airport_cn_2['iata'])))
diff_iata_2 = list(set(airport_cn_2['iata']).difference(set(airport_cn_1['iata'])))

airport_cn_1.set_index('iata').reindex(diff_iata_1)

,country_code,region_name,icao,airport,lat,lon
iata,,,,,,
XAI,CN,Henan Sheng,ZHXY,Xinyang Minggang Airport,32.5414,114.0780
YKH,CN,Liaoning,ZYYK,Yingkou Lanqi Airport,40.5425,122.3590
XNT,CN,Hebei,ZBXT,Xingtai Dalian Airport,36.8831,114.4290
YIC,CN,Jiangxi,ZSYC,Yichun Mingyueshan Airport,27.8025,114.3060
RLK,CN,Nei Mongol,ZBYZ,Bayannur Tianjitai Airport,40.9260,107.7430
...,...,...,...,...,...,...
AXF,CN,Nei Mongol,NaN,Alxa Left Banner Bayanhot Airport,38.7483,105.5890
JSJ,CN,Heilongjiang,ZYJS,Jiansanjiang Airport,47.1100,132.6600
AEQ,CN,Nei Mongol,NaN,Ar Horqin Airport,43.8704,120.1600
YTY,CN,Jiangsu,ZSYA,Yangzhou Taizhou Airport,32.5602,119.7170
NLT,CN,Xinjiang,ZWNL,Xinyuan Nalati Airport,43.4318,83.3786

In [112]:
airport_cn_2.set_index('iata').reindex(diff_iata_2)

,icao,name,city,state,country_code,elevation,lat,lon,tz
iata,,,,,,,,,
WHU,ZSWU,Wuhu Air Base,Wuhu,Anhui,CN,0,31.390600,118.408997,Asia/Shanghai
PKX,ZBAD,Beijing Daxing International Airport,Beijing,Beijing,CN,98,39.509167,116.410556,Asia/Shanghai
NAY,ZBNY,Beijing Nanyuan Airport,Beijing,Beijing,CN,0,39.782799,116.388000,Asia/Shanghai
SHP,ZBSH,Shanhaiguan Airport,Qinhuangdao,Hebei,CN,30,39.968102,119.731003,Asia/Shanghai

# Manual Addition

In [113]:
new_airport = [
    {'country_code' : 'CN', 
     'region_name'  : 'Beijing', 
     'iata'         : 'PKX', 
     'icao'         : 'ZBAD', 
     'airport'      : 'Beijing Daxing International Airport',
     'lat'          : 39.509167, 
     'lon'          : 116.410556  }
]


airport_cn = pd.concat([airport_cn_1, pd.DataFrame(new_airport)], 
                          ignore_index=True) \
                 .sort_values(['country_code', 'region_name', 'iata', 'icao'])


check_code_info(airport_cn)

Data shape: (265, 7)
 Country:
   Number of non-nan records: (265,)
   Number of unique records: (1,)
 IATA number:
   Number of non-nan records: (265,)
   Number of unique records: (265,)
 ICAO number:
   Number of non-nan records: (245,)
   Number of unique records: (245,)

# Save data

In [ ]:
airport_cn.to_csv('processed_data/cn_airport.csv', index=False)